---
import "../styles/global.css"
import "@fontsource/roboto"

const title = "Buy1Gram Retailers"
const description =
  "We provide Quality Product, Service, Packing, Delivery.Make Agro Business Safe and Profitable"
const image = "/android-chrome-192x192.png"
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="copyright" content="Buyonegram" />
    <meta name="language" content="EN" />
    <meta name="robots" content="index,follow" />
    <meta name="Classification" content="Business" />
    <meta name="author" content="Buy1Gram, buy1gram@gmail.com" />
    <meta name="reply-to" content="buy1gram@gmail.com" />
    <meta name="url" content="https://retailers.buyonegram.netlify.app" />
    <meta
      name="identifier-URL"
      content="https://retailers.buyonegram.netlify.app"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:image" content={new URL(image, Astro.url)} />
    <meta property="og:site_name" content="Buy1Gram" />
    <meta property="og:description" content={description} />
    <meta property="fb:page_id" content="101615785361550" />
    <meta property="application-name" content="Buy1Gram" />
    <meta property="og:email" content="buy1gram@gmail.com" />
    <meta property="og:phone_number" content="861-964-1968" />
    <meta property="og:latitude" content="26.908437" />
    <meta property="og:longitude" content="75.814986" />
    <meta
      property="og:street-address"
      content="Tonk Rd, Panch Batti, Sangram Colony, Ashok Nagar"
    />
    <meta property="og:locality" content="Jaipur" />
    <meta property="og:region" content="Rajasthan" />
    <meta property="og:postal-code" content="302007" />
    <meta property="og:country-name" content="India" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={new URL(image, Astro.url)} />
  </head>
  <body>
    <slot />
  </body>
</html>
